@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  text-decoration: none;
  color: black;
  font-family: "Pretendard Variable";
}

#root {
  background-color: #abca9e;
}
